:root {
  --headingFont: 'Poppins', sans-serif;
  --paragraphFont: 'Abel', sans-serif;
}

html {
  box-sizing: border-box;

  /* Resize all to get 1rem = 10px */
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--paragraphFont);
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4{
  font-family: var(--headingFont);
}
h1 {
  font-size: 3.2rem;
  font-weight: 400;
}
h2 {
  font-size: 2.8rem;
  font-weight: 400;
}
h3 {
  font-size: 2.4rem;
  font-weight: 300;
}

h1,h2,h3,h4,p{
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
